# Directories and files

alias green="cd /media/green/"
alias red1="cd /media/red1/"
alias red2="cd /media/red2/"
alias gdocs="cd /media/green/Docs"

alias dbox='cd ~/Dropbox'
alias phd='cd ~/Nextcloud/PhD/'
alias res='cd ~/Nextcloud/PhD/research'
alias phc='cd ~/Nextcloud/PhD/courses'
alias repo='cd ~/Documents/repos'
alias papers='cd ~/Nextcloud/PhD/bib/docs'

# Configuration files
alias zload='source ~/.zshrc'
alias bload='source ./.bashrc'

alias cfg-tmux='vim ~/.tmux.conf'
alias zrc='vim ~/.zshrc'
alias vrc='vim ~/.vimrc'
alias i3c='vim ~/dotfiles/i3config'
alias elias='vim ~/.aliases'

# Random shortcuts
alias o='xdg-open'
alias of='xdg-open "$(fzf)"'
alias e='vim'
alias ef='vim "$(fzf)"'

alias clc='clear'
alias q='clear'
alias :q='exit'
alias ls='ls --color=auto'
alias sl='ls'
alias ace='acestream-launcher -p mpv '

alias descr='tree . -d | less'
alias desc='tree . -d'
alias sxiv='sxiv -a'

# Functions

# Cheatsheets
cs() {
    case "$1" in
        tmux)
            xdg-open http://tmuxcheatsheet.com/
            ;;
        conda)
            xdg-open https://conda.io/docs/_downloads/conda-cheatsheet%202019.pdf
            ;;
        *)
            exit 1
    esac
}

# Open tomb archives
tombopen() {
    tomb open "${1}.tomb" -k "${1}.tomb.key" -f
    cd "/media/${1}"
    xdg-open "/media/${1}"
}


# Open ssh connection to the departments' network
deilogin(){
    sshpass -f ~/.deipw ssh -o StrictHostKeyChecking=no marcongi@login.dei.unipd.it
}

blade-queue(){

    # parse argument
    if [ $# -eq 0 ]; then
        DIR=.
    else
        DIR=$1
    fi
    
    # assume the first argument is the directory containing the job to execute
    # copy the directory to the blade gateway
    JOB_DIR=$(readlink -f $DIR)
    JOB_FILE=$JOB_DIR/main.job

    if [ ! -f $JOB_FILE ]; then
        echo "main.job file is missing!"
    else
        echo "Copying files to DEI's ssh login machine..."
        sshpass -f ~/.deipw scp -o StrictHostKeyChecking=no -r $JOB_DIR  marcongi@login.dei.unipd.it:/home/marcongi/blade/jobs/

        BASE_DIR=$(basename $JOB_DIR)
        BLADE_DIR="~/blade/jobs/${BASE_DIR}"
        JOB_FILE="${BLADE_DIR}/main.job"

        echo "Uploading current directory to ${BLADE_DIR}"

        # enqueu the job
        cmd="cd ${BLADE_DIR}; qsub main.job";
        echo $cmd | sshpass  -f ~/.deipw ssh -T -o StrictHostKeyChecking=no marcongi@login.dei.unipd.it
    fi
}

blade-fetch(){

    # parse argument
    if [ $# -eq 0 ]; then
        DIR=.
    else
        DIR=$1
    fi

    # assume the first argument is the directory containing the job to execute
    # copy the directory to the blade gateway
    JOB_DIR=$(readlink -f $DIR)
    BASE_DIR=$(basename $JOB_DIR)
    BLADE_DIR=/home/marcongi/blade/jobs/$BASE_DIR/results
    LOCAL_DIR=$JOB_DIR

    # use rsync to copy the content of the "/results" folder 
    echo "Downloading ${BLADE_DIR} to ${LOCAL_DIR}..."
    sshpass -f ~/.deipw rsync --progress -avz -e ssh  marcongi@login.dei.unipd.it:$BLADE_DIR $LOCAL_DIR

}

cloudlogin(){
    ssh gmarcon@gate.cloudveneto.it
}
