snippet skel "A simple snippet to create a MWE in LaTeX"
\documentclass{${1:article}}

% Packages
\usepackage[a4paper]{geometry}
\usepackage{microtype}
\usepackage{charter}

% Start
\begin{document}
	$2
\end{document}

endsnippet
