#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MATLAB R2019a
Comment=The Language of Technical Computing
Exec=/usr/local/bin/matlab -desktop
Icon=matlab
#Icon=/usr/local/MATLAB/R2019a/bin/glnxa64/cef_resources/matlab_icon.png
Terminal=false
Type=Application
Categories=Development;Math;Science;Education;
